.entireDay {
  background-color: white;
}
.day,
.addPost {
  position: absolute;
  top: 0px;
  left: 300px;

  padding-top: 20px;
  display: flex;
  flex-direction: column;

  width: 100vh;
}

.day__btns {
  display: flex;
  margin-bottom: 30px;
}

.day__date {
  font-size: 24px;
  margin-bottom: 30px;
}

.day__line {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  border-bottom: 1px solid #7c7c7c;
  padding-bottom: 20px;
}

.day__nameList {
  display: flex;
}

.day__name {
  height: 41px;
  margin-right: 10px;
  font-size: 18px;

  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
}
.day__post {
  background-color: white;
  width: 1200px;
  /*border-radius: 20px;*/
  padding: 0px;

  /*box-shadow: 5px 5px 10px rgba(0,0,0,0.25);*/

  margin-bottom: 50px;
}
.day__post__line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.day__post__title {
  font-size: 32px;
}

.day__post__desc {
  font-size: 18px;
  line-height: 1.5em;
}

.day__commentBox {
  display: flex;
  flex-direction: column;
}

.day__commentBox__title {
  display: flex;
  align-items: center;

  margin-bottom: 10px;
  width: 1200px;

  border-bottom: 1px solid #7c7c7c;
  padding-bottom: 15px;
}

.day__commentBox__title div:nth-of-type(1) {
  font-size: 28px;

  margin-right: 10px;
}

.day__commentBox__title div:nth-of-type(2) {
  font-size: 20px;

  color: #7c7c7c;
}

.day__commentBox__newComment {
  display: flex;
  align-items: center;
  width: 1200px;

  margin-bottom: 20px;
  margin-top: 10px;
}

.day__commentBox__newComment img {
  width: 45px;
  height: 45px;
  border-radius: 50%;

  margin-right: 15px;
}
.day__commentBox__newComment input {
  background-color: white;
  border-bottom: 1px solid #7c7c7c;
  border-radius: 0px;
  padding: 2px 0px;

  width: 1000px;
}
/* .day__commentBox__newComment button {
  background-color: #3181c6;
  border-radius: 5px;
  border: none;
  width: 50px;
  height: 30px;
  color: white;

  margin-left: 10px;
} */
.day__comment {
  width: 1200px;
  background-color: white;
  /*border-radius: 20px;*/
  /*padding: 20px;*/
  /*box-shadow: 5px 5px 10px rgba(0,0,0,0.25);*/

  display: flex;
  flex-direction: column;

  /*justify-content: space-between;*/
  align-items: center;

  margin-bottom: 20px;
}

.day__comment__section {
  display: flex;
  align-items: center;
  width: 1200px;
  /*justify-content: space-between;*/
}

.day__comment__left {
  display: flex;
  align-items: center;
  width: 1070px;
}
.day__comment__section img {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  margin-right: 5px;
}

.day__comment__section .day__comment__name {
  font-size: 20px;
  margin-right: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
}

.day__comment__section .day__comment__desc {
  font-size: 18px;
  /*width: 800px;*/
}

/* .day__comment button {
  background-color: #3181c6;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px;
  width: 80px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.day__comment__replyBox {
  display: flex;
  flex-direction: column;
}
.addPost .addPost__line {
  width: 1200px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.addPost .addPost__date {
  font-size: 28px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-right: 440px;
}

.addPost__title {
  width: 500px;
  background-color: transparent;
  border-bottom: 1px solid black;
  border-radius: 0px;

  margin-bottom: 15px;
}

/* .addPost .addPost__form {
  background-color: #edecec;

  width: 1180px;
  height: 550px;

  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 20px;
}

.addPost .addPost__form .addPost__form__line {
  width: 1180px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
} */

/* .addPost__form__line input {
  width: 435px;
  height: 60px;
  background-color: #e6e6e6;
  font-size: 22px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-right: 10px;
}

.addPost__form .addPictureBtn {
  background-color: #e6e6e6;
  border: none;
  width: 160px;
  height: 60px;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  display: flex;
  align-items: center;
  font-size: 22px;

  margin: 0px;

  padding: 0px 10px;
}

.addPictureBtn img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.addPost__form__desc {
  border: none;
  width: 1140px;
  height: 440px;
  background-color: #e6e6e6;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: left;

  border-radius: 20px;

  padding: 10px;
  resize: none;

  font-size: 18px;

  font-family: "Roboto Condensed", sans-serif;
}

.addPost__form__desc::placeholder {
  color: dimgrey;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
} */
