.diarylist{
    /*position: fixed;*/
    /*left: 248px;*/
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.diarylist__main{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 240px;

    margin-top: 40px;
    margin-left: 40px;
}

.diarylist__addBtn{
    width: 126px;
    height: 41px;

    padding: 10px;

    font-size: 18px;
    color: white;
    background-color: #3181C6;

    border-radius: 5px;
    border: none;

    margin-left: 20px;
    margin-bottom: 20px;
}

