.invitation {
  background-color: white;
}

.invitation .invitation__list {
  position: absolute;
  top: 0px;
  left: 300px;

  padding-top: 20px;
  display: flex;
  flex-direction: column;

  width: 100vh;
}

.invitation__list__title {
  font-size: 36px;
  width: 100%;
  border-bottom: 1px solid #7c7c7c;
  padding: 10px 0px;

  margin-top: 20px;
}
/* .invitation__elem {
  display: flex;
  margin: 10px;
  align-items: center;
}

.invitation__elem__email {
  width: 300px;
  font-size: 20px;
}

.invitation__elem__acceptBtn,
.invitation__elem__refuseBtn {
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  font-size: 18px;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.invitation__elem__acceptBtn {
  background-color: #ffdede;
}
.invitation__elem__refuseBtn {
  background-color: #c7edfd;
} */

.hidden {
  visibility: hidden;
}

.invitation__list__alert {
  margin-top: 20px;
  font-size: 20px;
}
