.sidebar{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #0060B4;
    width: 248px;
    height: 100vh;
    border-radius: 0px 70px 0px 0px;

    position: fixed;
    top: 0;
    left: 0;

    margin: 0px 40px 0px 0px;
    padding: 0;

    border: none;

    overflow-x: hidden;

    z-index: 1;
}

.sidebar .sidebar__profileImg{
    width: 154px;
    height: 154px;
    border-radius: 50em;

    margin: 50px 0px 0px 0px;
}

.sidebar .sidebar__name{
    font-size: 30px;
    border-bottom: solid white;
    width: 100%;

    text-align: center;
    padding: 40px 0px;
    color: white;
}

.sidebar  .notClicked{
    width: 248px;
    background-color: #0060B4;
    border: none;

    font-size: 24px;

    padding: 15px 0px;
    color: white;
}
.sidebar  .clicked{
    width: 248px;
    background-color: white;
    border: none;

    font-size: 24px;

    padding: 15px 0px;

    box-shadow:inset 5px 5px 10px rgba(0,0,0,0.40);
    color: black;
}

.sidebar__logout{
    position: fixed;
    left: 0px;
    bottom: 10px;

    width: 248px;

    color: #CACACA;
    text-align: center;

    font-size: 18px;
}
